.tweet-brush
  display block
  position absolute
  top 20px
  right 20px
  width 300px
  height 200px
  background rgba(150, 150, 150, 0.7)
  border-radius 2px
  border 1px solid black

  // Brush
  .brush-context
    width 100%
    height 100%

  .brush
    fill rgba(0,0,0,.1)

    .handle
      fill black
      pointer-events none
      shape-rendering crispEdges

    .corner
      fill black

  // Charts
  .chart-1
    fill red

  .chart-2
    fill blue