.tweet-brush
  display block
  position absolute
  top 20px
  right 20px
  width 300px
  height 200px
  background rgba(150, 150, 150, 0.7)
  border-radius 2px
  border 1px solid black

  // Baseline
  .baseline
    fill 0
    shape-rendering crispEdges

  // Brush
  .brush-context
    width 100%
    height 100%

  .brush
    fill rgba(0,0,0,.1)

    .handle
      fill black
      pointer-events none
      shape-rendering crispEdges

    .corner
      fill black

    .label
      fill black

  // Charts
  .chart-1
    fill rgba(255,0,0,0.3)

  .chart-10
    fill rgba(255,0,0,1.0)

  .chart-2
    fill rgba(0,0,255,0.3)

  .chart-20
    fill rgba(0,0,255,1.0)

  // Text
  .center-count,
  .periphery-count,
  .total-count
    pointer-events none
    cursor default