.tweet-brush 
  display block
  position absolute
  bottom 20px
  right 60px
  width 300px
  height 80px
  background #f0f0f0
  box-shadow 0 0 1px rgba(0,0,0,.10), 0 1px 3px rgba(0,0,0,.30)
  border-radius 3px
  
  .brush
    fill rgba(0,0,0,.1)        